<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Careers Form"}} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><b>{{trans "Name"}}</b></td>
        <td>{{var name}}</td>
    </tr>
     <tr>
        <td><b>{{trans "Email"}}</b></td>
        <td>{{var email}}</td>
    </tr>
     <tr>
        <td><b>{{trans "Telephone"}}</b></td>
        <td>{{var telephone}}</td>
    </tr>  
    <tr>
        <td><b>{{trans "Message:"}}</b></td>
        <td>{{var message}}</td>
    </tr>        
</table>

{{template config_path="design/email/footer_template"}}
